body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-family: "Roboto", sans-serif;
}
h4 {
  width: 100%;
  height: 38px;
  background: #1cd1b0;
  font-style: normal;
  font-weight: normal;
  color: black;
  margin-bottom: 0;
}
h1 {
  width: 100%;
  background: #00669f;
  box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
  font-style: normal;
  font-weight: bold;
  color: black;
  padding-top: 28px;
  padding-left: 28px;
  padding-bottom: 28px;
  margin-top: 0;
}
.imagen-1 {
  position: absolute;
  width: 300px;
  height: 193px;
  left: 32px;
  top: 293px;
  border-radius: 16px 16px 0px 0px;
}
.me-encanta {
  position: absolute;
  left: 53px;
  top: 308.88px;
  right: 941px;
  bottom: 688.88px;
}
.batman {
  position: absolute;
  width: 120px;
  height: 118px;
  left: 122px;
  top: 421px;
  border-radius: 50%;
  z-index: 1;
}
.h2 {
  position: absolute;
  width: 122px;
  height: 35px;
  left: 89px;
  top: 74px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  color: #000000;
}
.p1 {
  position: relative;
  width: 267px;
  height: 113px;
  left: 16px;
  top: 125px;
  bottom: 104px;
  right: 17px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #333333;
}
.s1 {
  position: absolute;
  width: 300px;
  height: 350px;
  left: 32px;
  top: 485px;
  bottom: 203px;
  right: 692px;
  background: #f3f3f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: inline-block;
  box-sizing: border-box;
}
footer {
  position: absolute;
  width: 100%;
  height: 51px;
  left: 0px;
  top: 972px;
  background: #00669f;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
p {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
  left: 16px;
  right: 671px;
}
.hq {
  border-radius: 16px 16px 0px 0px;
  position: absolute;
  width: 300px;
  height: 193px;
  left: 362px;
  top: 293px;
  bottom: 538px;
  right: 362px;
}
.harley {
  position: absolute;
  width: 122px;
  height: 122px;
  left: 451px;
  top: 419px;
  border-radius: 50%;
  z-index: 1;
}
.h3 {
  position: absolute;
  width: 171px;
  height: 35px;
  left: 64px;
  top: 76px;
  right: 65px;
  bottom: 227px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 35px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  color: #000000;
}
.corazon {
  position: absolute;
  left: 383px;
  top: 308.88px;
}
.p2 {
  position: absolute;
  width: 267px;
  height: 113px;
  left: 16px;
  top: 125px;
  right: 17px;
  bottom: 104px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #333333;
}
.s2 {
  position: absolute;
  width: 300px;
  height: 350px;
  left: 362px;
  top: 485px;
  bottom: 203px;
  right: 362px;
  background: #f3f3f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: inline-block;
  box-sizing: border-box;
}
.imagen-2 {
  position: absolute;
  width: 300px;
  height: 193px;
  left: 692px;
  top: 294px;
  bottom: 537px;
  right: 32px;
  border-radius: 16px 16px 0px 0px;
}
.corazon2 {
  position: absolute;
  left: 713px;
  top: 309.88px;
  right: 281px;
  bottom: 687.88px;
}
.batman2 {
  position: absolute;
  width: 120px;
  height: 118px;
  left: 781px;
  top: 420px;
  border-radius: 50%;
  z-index: 1;
}
.s3 {
  position: absolute;
  width: 300px;
  height: 350px;
  left: 692px;
  top: 486px;
  bottom: 202px;
  right: 32px;
  background: #f3f3f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: inline-block;
  box-sizing: border-box;
}
.h4 {
  position: absolute;
  width: 122px;
  height: 35px;
  left: 89px;
  top: 74px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  color: #000000;
}
.p3 {
  position: absolute;
  width: 267px;
  height: 113px;
  left: 16px;
  top: 125px;
  right: 17px;
  bottom: 104px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #333333;
}
button {
  position: absolute;
  width: 128.78px;
  height: 48.52px;
  left: 85px;
  top: 280px;
  right: 86.22px;
  bottom: 18.48px;
  background: #00669f;
  color: white;
  font-size: 15px;
  font-style: normal;
  font-weight: normal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
